main {
    display: block;
}

/* different spacing needed to accomodate for back button */
.header-options {
    justify-content: space-evenly;
    width: 30%;
}

/* styling for back button */
button {
    margin-right: 20px;
    height: 50px;
    width: 20%;
}

/* Styling for rendered blog posts */
.post-title {
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid;
}

.post-body {
    border: 1px solid;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.post-content {
    padding: 15px;
    min-height: 80px;
    
}

.post-author {
    padding: 5px;
    font-size: 80%;
    font-style: italic;
}