form {
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: 20px;
}

form h2 {
    align-self: center;
    font-size: 125%;
    padding: 10px;
    margin-bottom: 10px;
}

form li {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

textarea {
    min-height: 100px;
    
}

button {
    padding: 5px;
    width: 95%;
    align-self: center;
}

input {
    width: 100%;
    
}

form p {
    margin: 20px;
    font-style: italic;
}

@media screen and (min-width: 768px) {
    form {
        height: 100%;
        justify-content: center;
        width: 50%;
        
    }
}

@media screen and (min-width: 992px) {
   
}