:root {
    --light-background: rgb(245, 242, 242);
}

body {
    font-size: 16px;
    background-color: var(--light-background);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    height: 80px;
    border-bottom: 3px solid black;
}

h1 {
    padding: 20px;
    font-size: 170%;
}

main {
    display: flex;
    flex-direction: column;
    
    
}

figure {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    
}

figure img {
    width: 80%;
    padding: 10px;
    
}

footer {
    height: 30px;
    text-align: center;
    padding: 10px;
    border-top: 3px solid black;
}

h3 {
    font-size: 110%;
    margin: 20px;
}

footer p {
    margin: 10px;
    padding-bottom: 5px;
}

@media screen and (min-width: 768px) {
    main {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        }
    
    figure {
        border-right: solid black 3px;
        width: 65%;
        height: 100%;
    }
    
    figure img {
        width: 100%;
    }

    
}

@media screen and (min-width: 992px) {
    figure {
        width: 50%;
    }
}