:root {
    --light-background: rgb(245, 242, 242);
    --dark-background: rgb(35, 3, 3);
    --text-lightmode: rgb(56, 56, 56); 
    --text-darkmode: rgb(246, 240, 240);
    --slider-background: black;
    --slider-ball: white;
}

body {
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 3px solid;
}

.header-options {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

h1 {
    padding: 20px;
    font-size: 170%;
}

main {
    display: flex;
    flex-direction: column; 
}

figure {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 10px;
    
}

figure img {
    width: 75%;
    border-radius: 50%;
     
}

/* footer styling */
footer {
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    padding: 10px;
    border-top: 3px solid;
}

h3 {
    font-size: 110%;
}

h3,
footer p {
    margin: 15px;
    padding-bottom: 15px;
}

p a {
    text-decoration: none;
    font-weight: bold;
}

p a:visited {
    text-decoration: none;
}

/* Styling for light and dark modes */
.light {
    background-color: var(--light-background);
    color: var(--text-lightmode);
}

.dark {
    background-color: var(--dark-background);
    color: var(--text-darkmode);
}

.light-link {
    color: var(--text-lightmode);
}

.dark-link {
    color: var(--text-darkmode);
}

/* Styling for light/dark mode slider */
.toggle {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
}

/* Hiding default checkbox */
.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* styling for the slider feature */
.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--slider-background);
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 17px;
    width: 17px;
    left: 2px;
    bottom: 1.5px;
    background-color: var(--slider-ball);
    transition: .3s;
}

input:checked + .slider {
    background-color: var(--slider-background);
}

input:checked + .slider:before{
    transform: translateX(10px);
    background-color: var(--slider-ball);
}

.slider.rounded {
    border-radius: 30px;
}

.slider.rounded:before {
    border-radius: 50px;
}

.theme-text {
    position: absolute;
    margin-top: 25px;
}

@media screen and (min-width: 768px) {
    main {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        }
    
    figure {
        border-right: solid 3px;
        width: 65%;
        height: 100%;
    }
    
    figure img {
        width: 100%;
        padding: 30px;
    }   
    
}

@media screen and (min-width: 992px) {
    figure {
        width: 50%;
        height: 100%;
    }
}